<center><h2> Cold Music Group <br>
Artist Roster Data</h2>
<%=link_to "Create New Artis Profile ", new_portfolio_path%>
<% @portfolio_items.each do |portfolio_item|%>
  <p><%= portfolio_item.title %></p>
  <p><%= portfolio_item.subtitle %></p>
  <p><%= portfolio_item.body %></p>
  <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
<hr align = center size = 7 width = 650>
<%= link_to "Edit", edit_portfolio_path(portfolio_item.id)%>

<% end %></center>
